.game {
  position: relative;

  &__heading {
    padding-top: 20%;
    display: flex;
    z-index: 10;
    position: relative;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-family: 'Luckiest Guy', cursive;
      color: white;
      font-size: 1.75rem;
      line-height: 1;
    }
  }

  &__description {
    color: white;
    margin: 0;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    border-color: black !important;
  }
}