.feature {
  z-index: 1;
  cursor: not-allowed;
  text-align: center;

  span {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  h2 {
    transition: all 250ms ease-in-out;
    position: relative;
    display: block;
    font-size: 1.4rem;
    color: #4ae4ff;
    font-family: 'Luckiest Guy', cursive;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  &:hover {
    h2 {
      transform: scale(1.1);
    }
  }
}