.feature {
  overflow: hidden;
  padding: 0 !important;
  cursor: not-allowed !important;
  text-align: center;
  position: relative;
  border-color: black !important;
  background: rgba(#202944, .5) !important;

  &:hover {
    border-color: black !important;
  }

  &__container {
    padding: 1rem;
  }

  a {
    position: relative;
    left: 0;
    margin-bottom: 2px;
    width: calc(100% - 4px);
    cursor: not-allowed !important;
  }

  span {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  h2 {
    transition: all 250ms ease-in-out;
    position: relative;
    display: block;
    font-size: 1.4rem;
    color: #4ae4ff;
    font-family: 'Luckiest Guy', cursive;
    padding: 0;
    margin: 0;
    line-height: 1;
  }
}