@mixin btn-uroria($ratio) {

  filter: hue-rotate($ratio +  deg) !important;
  background: #418e51;
  border-left: 5px solid #397947;
  border-right: 5px solid #397947;

  &:before {
    background: #66cb78;
  }

  &:after {
    background: #22582f;
  }

}

.btn-uroria {

  padding: 5px 10px;
  position: relative;
  margin: 0 10px;
  overflow-x: visible;
  border: none;
  font-family: 'Minecraft', cursive;
  text-shadow: 2px 2px 0 rgba(#000, 0.5);
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 5px 0 rgba(#000, .5);
  @include btn-uroria(0);

  &:first-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  &:last-child {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &:before {
    width: 100%;
    left: 0;
    top: -5px;
    height: 5px;
    position: absolute;
    content: " ";
  }

  &:after {
    width: 100%;
    right: 0;
    bottom: -5px;
    height: 5px;
    position: absolute;
    content: " ";
    box-shadow: 0 5px 0 rgba(#000, .5);
  }

  &:hover, &:focus {
    transform: scale(0.98);
    cursor: pointer;
  }

  &.btn-icon {
    width: 50px;
    height: 40px;
    margin: 10px !important;
  }

  &.btn-green {
    @include btn-uroria(0)
  }

  &.btn-blue {
    @include btn-uroria(90)
  }

  &.btn-red {
    @include btn-uroria(230)
  }
}