@mixin btn-uroria($ratio) {

  filter: hue-rotate($ratio +  deg) !important;
  background: #019046;
  box-shadow: 0 -5px 0 #29ce3f, -5px 0px 0 #0d6e3d, 0 5px 0 #054d2a, 5px 0px 0 #0d6e3d, 0 0 10px 5px rgba(#000, .5);

  &:before {
    background: #66cb78;
  }

  &:after {
    background: #22582f;
  }

}

.nav-link {
  padding: 0;
  &:focus {
    outline: none;
  }
}

.btn-uroria {
  padding: 10px 15px;
  position: relative;
  margin: 0 10px;
  font-family: 'Minecraft', cursive;
  text-shadow: 0 2px 0 rgba(#000, 0.5);
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  @include btn-uroria(0);

  &:first-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  &:last-child {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  &.btn-icon {
    width: 50px;
    height: 50px;
    margin: 10px !important;
    position: relative;

    &:after {
      content: attr(data-tooltip);
      position: absolute;
      display: none;
      padding: 5px 10px;
      width: 150px;
      white-space: nowrap;
      top: -3.5rem;
      left: 50%;
      margin-left: -75px;
      box-shadow: 0 -5px 0 rgba(#000, .7), -5px 0px 0 rgba(#000, .7), 0 5px 0 rgba(#000, .7), 5px 0px 0 rgba(#000, .7), 0 0 50px 5px rgba(#000, .5);
      background: rgba(#000, .75) !important;
    }

    &:hover {
      &:after {
        display: inline-block;
      }
    }
  }

  &:hover, &:focus {
    transform: scale(0.98);
    cursor: pointer;
    color: white;
    outline: none 0;
  }

  &.disabled {
    opacity: 20%;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
  &.btn-green {
    @include btn-uroria(0)
  }

  &.btn-blue {
    @include btn-uroria(90)
  }

  &.btn-red {
    @include btn-uroria(230)
  }
}