.header-uroria {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/eb8089125376791.6117dd04b6e5f.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;
  top: -96px;
  z-index: -1;

  &:before {
    width: 100%;
    height: 90vh;
    content: " ";
    top: 0;
    background: linear-gradient(180deg, transparent 0, rgba(#000, 1) 100%);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
  }

  //main headline for heading
  h1 {
    font-size: 3rem;
    color: white;
  }

  //make main heading smaller for mobile
  @include respond-below(md) {
    h1 {
      font-size: 2rem;
    }
  }

  @include respond-above(lg) {
    h1 {
      font-size: 4rem;
    }
  }
}