.navbar {
  background: transparent;
  position: relative;
  z-index: 5;

  .nav-link {
    text-shadow: 2px 2px 0 rgba(#000, 0.5);
    font-size: 1.25rem;
    margin: 0 10px;
    color: #ffffff !important;
    transition: none;

    &:hover, &:active {
      color: rgba(#ffffff, .5) !important;
    }
  }
}