.tag {

  padding: 5px 15px;
  display: inline-block;
  text-align: left;
  position: relative;
  width: fit-content;
  box-shadow: 0 5px 0 rgba(#000, .5);
  background: #424242;
  border-left: 5px solid #474745;
  border-right: 5px solid #343532;
  font-size: .75rem;
  color: white;
  text-shadow: 2px 2px 0 rgba(#000, 0.5);

  &:before {
    width: 100%;
    left: 0;
    top: -5px;
    height: 5px;
    position: absolute;
    background: #474745;
    content: " ";
  }

  &:after {
    background: #343532;
    width: 100%;
    right: 0;
    bottom: -5px;
    height: 5px;
    position: absolute;
    content: " ";
    box-shadow: 0 5px 0 rgba(#000, .5);
  }
}

.tag-lite {
  color: #000000;
  padding: 4px 8px;
  margin-bottom: 20px;
  font-size: .5rem;
  margin-right: 10px;
  box-shadow: 3px 3px 0px rgba(#000, .5);
  display: inline-flex;
  align-items: center;
  font-family: MinecraftClassic, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(#fff, .2);

  &:last-child {
    margin-right: 0 !important;
  }

  &.red {
    background: linear-gradient(0deg, rgba(#e82443, 0.75) 0, rgba(#e82443, 0.75) 100%), url('https://static.planetminecraft.com/files/resource_media/screenshot/1307/2013-02-14_114038_4837850_lrg.jpg') no-repeat center;
    background-size: cover;
  }

  &.purple {
    background: linear-gradient(0deg, rgba(#9645c8, 0.75) 0, rgba(#9645c8, 0.75) 100%), url('https://static.planetminecraft.com/files/resource_media/screenshot/1307/2013-02-14_114038_4837850_lrg.jpg') no-repeat center;
    background-size: cover;
  }

  &.gray {
    background: linear-gradient(0deg, rgba(#494949, 0.75) 0, rgba(#494949, 0.75) 100%), url('https://static.planetminecraft.com/files/resource_media/screenshot/1307/2013-02-14_114038_4837850_lrg.jpg') no-repeat center;
    background-size: cover;
  }
}