.input {
  background: rgba(#202944, .5);
  outline: 2.5px solid black;
  font-family: 'Poppins', sans-serif;

  input {
    position: relative;
    background: none;
    border: none;
    color: white;
    margin: .5rem 1rem;
    outline: none;
    font-size: 1rem;
    box-shadow: none;
    line-height: 1;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(white, .5);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba(white, .5);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: rgba(white, .5);
    }

    &:focus {
      outline: none;
    }
  }

  &:hover, &:active, &:focus {
    outline: 2.5px solid #5c6889;
  }
}

.input__wrapper {
  position: relative;

  &__button {

  }
}

.input__description {
  margin: .5rem 0;
  position: relative;
  font-size: .8rem;
  left: 10px;
  color: white !important;
}

.input__blink {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  bottom: 0;
  background: rgba(#202944, .5);
  z-index: -1;
  animation: blink 10s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  89% {
    opacity: 0;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}