#box {
  background: #3a445f;
  border: 2px solid #5c6889;
  padding: 1rem;
  color: white;
  position: relative;
  margin-bottom: 1.5rem;
  cursor: pointer;

  &[style] {
    &:before {
      position: absolute;
      content: "";
      background: linear-gradient(0deg, rgba(black, .75) 0%, rgba(black, 0) 100%);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  &__content {
    position: relative;
  }
  b {
    font-family: 'Luckiest Guy', cursive;
  }

  &:hover {
    border-color: white;
  }

}