@import "styles/helpers/variables";
@import "styles/helpers/media";


.shop-item {

  &__image {
    height: calc(100% - 25px);
    position: relative;
    padding: 12%;

    > img {
      transition: all ease-in-out 200ms;
      height: 100%;
      width: 100%;
      object-fit: scale-down;
      filter: drop-shadow(20px 10px 0px rgb(0 0 0 / .25));
    }
  }


  &:hover, &:active, &:focus {

    &:after {
      display: block;
    }

    .shop-item__image > img {
      transform: scale(1.1);
    }

  }
}