@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Minecraft';
  src: url("../public/MinecraftTen.ttf") format('opentype');
}
@font-face {
  font-family: 'Uroria';
  src: url("../public/uroria.ttf") format('opentype');
}

@import "components/buttons";